<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinized!!!</h1>

    <h2><%=@pig_word%></h2>

    <h1>You're welcome</h1>
  
  </body>
</html>